#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Bebas Neue', sans-serif;
}

body {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
.header {
  font-family: var(--font-secondary);
}
